<h1>Welcome to Social Media Clone, <%= @user.name %></h1>
<p>
  I created this project for my final submission of theOdinProject's
  Ruby on Rails Course. You have successfully signed up,
  your username is: <%= @user.name %>
</p>

<p>
  To login, follow this link: <%= link_to 'Login', @url %>
</p>

<p>Thanks for viewing my site!</p>
